body{
    font-family:Tahoma, Geneva, sans-serif;
    background-color: #FFFFFF;
    color:#D7DADB;
}

header{
width:600px;
text-align:center;
height:90px;
position:relative;
margin-top:10px;
color:#2C3E50;

}


nav {
    width: 180px;
    float: left;
    position: fixed;
    margin-top:20px;
    background-color:#2C3E50;
    box-shadow: 5px 5px 5px #6DBCDB;


}


nav ul li {
    list-style-type: none;
    color:#D7DADB;
}
p>a{
    color:#2C3E50;
    text-decoration:none;
}

p>a:visited{
    color:#2C3E50;
    text-decoration:none;
}

li > a{
    color:#D7DADB;
    text-decoration:none;
}

li > a:visited{
    color:#D7DADB;
    text-decoration:none;

}


#content {
    float: left;
    position: absolute;
    left: 200px;
    padding: 5px;
    width: 65%;
}

article{
    background-color:#2C3E50;
    padding-bottom:10px;
    color:#D7DADB;
    box-shadow: 5px 5px 5px #6DBCDB;
}

h2{
    background-color:#FC4349;
    color:#2C3E50;
}

/*
footer {
    clear: both;
    position:relative;

    border: 1px solid lime;
    width: 500px;
}*/
/*
#pagewrap{


  position: relative;
  margin-top:100px;

}
*/